/******************************INICIO************************************/
A {
    text-decoration: none;
}

* {
    margin: 0;
}

li {
    list-style-type: none;
}

.barraNavegadora {
    background-color: white;

}

.logo {
    width: 18.75em;
    height: 5em;
}

.nav-link {
    margin-left: 2.5em;
}

.media-quote {
    font-family: garamond;
}

.principal {
    font-size: 1.4em;
    margin-bottom: 0.37em;
    font-family: garamond;
}

.secundario {
    font-size: 1.06em;
    margin-bottom: 0.93em;
}

.lineaDivisora {
    border-top: 0.06em solid black;
    margin-top: 0.06em;
    margin-top: 0.06em;
    margin-left: 40px;
    margin-right: 40px
}

.subtitulo {
    font-family: garamond;
}

.lecturasImp {
    background-color: #22412A;
    line-height: 40px;

}

.libro {
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    width: 200px;
    height: 200px;
    margin-top: 1px;
    margin-bottom: 20px;
    display: inline;
    line-height: 40px;
}

.contsubs {
    display: flex;
    align-items: center;
}

.subrecomendacion {
    font-family: garamond;
    font-size: 23px;
    margin-left: 15px;
}

.correo {
    font-family: garamond;
}


/*****************************COMPUTADORA***************************/
/*Tamaño computadora*/
@media (min-width: 1025px) {
    .carousel-computadora {
        display: block;
    }

    .carousel-movil {
        display: none;
    }

    .carousel-item {
        padding: 20 px;
        font-size: 5px;
    }

    .carousel-pequeno {
        padding: 20px;
        font-size: 18px;
    }

    .minicon {
        width: 15em;
    }

    .icono {
        width: 5em;
        display: inline;
    }

    .text-icono {
        text-align: center;
        display: inline;
        font-family: garamond;
        color: black;
        font-size: 17px;
    }

    .musica {
        margin-left: 50px;
        margin-top: 50px;
        border-radius: 12px;
        width: 400px;
    }

    .formularioDudas {
        background-color: lightgray;
        border: solid black 1px;
        width: 500px;
        height: 400px;
        position: relative;
        top: -400px;
        left: 600px;
    }

    .espacioFormulario {
        width: 450px;
        border: black 1px solid;
        margin-left: 20px
    }

    .espacioFormulario1 {
        width: 450px;
        height: 100px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .boton {
        position: relative;
        left: 230px;
    }

    .footer {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
    }

}

/****************************VERTICAL******************************/
/* Tamaño celulares ANDROID y apple grandes*/
@media (max-width: 896px) {
    .principal {
        font-size: 1.3em;
    }

    .secundario {
        display: none;
    }

    .carousel-computadora {
        display: none;
    }

    .carousel-movil {
        display: block;
    }

    .minicon {
        width: 5em;
    }

    .icono {
        width: 3em;
        display: inline;
    }

    .text-icono {
        text-align: center;
        display: inline;
        font-family: garamond;
        color: black;
        font-size: 16px;
    }

    .subtitulo {
        font-size: 21px;
    }

    .libro {
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 65px;
        height: 75px;
        margin-top: 1px;
        margin-bottom: 20px;
        display: inline;
        line-height: 40px;
    }

    .contsubs {
        display: grid;
        align-items: center;
    }

    .subrecomendacion {
        font-family: garamond;
        font-size: 18px;

    }

    .correo {
        font-family: garamond;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .musica {
        margin-left: 15px;
        margin-top: 10px;
        border-radius: 12px;
        width: 340px;
    }

    .formularioDudas {
        background-color: lightgray;
        border: solid black 1px;
        width: 330px;
        height: 400px;
        position: static;
        margin-top: 40px;
        margin-left: 20px;
    }

    .espacioFormulario {
        width: 300px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .espacioFormulario1 {
        width: 300px;
        height: 100px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .boton {
        position: relative;
        left: 140px;
    }

    .lineaDivisoraFinal {
        position: relative;
        bottom: -310px;
    }

    .footer {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        bottom: -320px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        bottom: -319px;
    }
}


/*Tamaño celulares APPLE pequeños*/
@media (max-width: 330px) {
    .principal {
        font-size: 1.3em;
    }

    .secundario {
        display: none;
    }

    .carousel-computadora {
        display: none;
    }

    .carousel-movil {
        display: block;
    }

    .minicon {
        width: 5em;
    }

    .icono {
        width: 3em;
        display: inline;
    }

    .text-icono {
        text-align: center;
        display: inline;
        font-family: garamond;
        color: black;
        font-size: 16px;
    }

    .subtitulo {
        font-size: 21px;
    }

    .libro {
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 65px;
        height: 75px;
        margin-top: 1px;
        margin-bottom: 20px;
        display: inline;
        line-height: 40px;
    }

    .contsubs {
        display: grid;
        align-items: center;
    }

    .subrecomendacion {
        font-family: garamond;
        font-size: 18px;

    }

    .correo {
        font-family: garamond;
        font-size: 12px;
        margin-bottom: 10px;
    }

    .musica {
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 12px;
        width: 280px;
    }

    .formularioDudas {
        background-color: lightgray;
        border: solid black 1px;
        width: 280px;
        height: 400px;
        position: static;
        margin-top: 40px;
        margin-left: 25px;
    }

    .espacioFormulario {
        width: 250px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .espacioFormulario1 {
        width: 250px;
        height: 100px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .boton {
        position: relative;
        left: 120px;
    }

    .lineaDivisoraFinal {
        position: relative;
        bottom: -310px;
    }

    .footer {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        bottom: -320px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        bottom: -319px;
    }
}



/* Tamaño tabletas */
@media (min-width: 768px) and (max-width: 1280px) {
    .principal {
        font-size: 2em;
    }

    .secundario {
        display: none;
    }

    .carousel-computadora {
        display: none;
    }

    .carousel-movil {
        display: block;
    }

    .subtitulo {
        font-size: em;
    }

    /* .groupText {
        display: inline;
        font-family: garamond;
        font-size: 13px;
        color: black; */

    .minicon {
        width: 12em;
    }

    .icono {
        width: 5em;
        display: inline;
    }

    .text-icono {
        text-align: center;
        display: inline;
        font-family: garamond;
        color: black;
        font-size: 23px;

    }

    .subtitulo {
        font-size: 40px;
    }

    .libro {
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 170px;
        height: 180px;
        margin-top: 1px;
        margin-bottom: 20px;
        display: inline;
        line-height: 40px;
    }

    .contsubs {
        display: grid;
        align-items: center;
    }

    .subrecomendacion {
        font-family: garamond;
        font-size: 27px;
    }

    .correo {
        font-family: garamond;
        font-size: 17px;
        margin-bottom: 10px;
    }

    .musica {
        margin-left: 30px;
        margin-top: 10px;
        border-radius: 12px;
        width: 340px;
    }

    .formularioDudas {
        background-color: lightgray;
        border: solid black 1px;
        width: 340px;
        height: 400px;
        position: relative;
        top: -450px;
        left: 400px;
        margin-top: 40px;
        margin-left: 15px;
    }

    .espacioFormulario {
        width: 300px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .espacioFormulario1 {
        width: 300px;
        height: 100px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .boton {
        position: relative;
        left: 140px;
        top: -14px;
    }

    .subtituloFormulario {
        font-size: 26px;
    }

    .subtituloFormulario1 {
        font-size: 23px;
    }

    .footer {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        top: 10px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        top: 15px;
    }
}



/**************************HORIZONTAL*******************************/
/*Tamaño celulares*/
@media (min-width:414px)and (max-width: 915px) and (orientation:landscape) {
    .principal {
        font-size: 1.7em;
    }

    .secundario {
        display: block;
        font-size: 1.32em;
    }

    .carousel-computadora {
        display: block;
    }

    .carousel-movil {
        display: none;
    }

    .minicon {
        width: 11em;
    }

    .icono {
        width: 5em;
        display: inline;
    }

    .text-icono {
        text-align: center;
        display: inline;
        font-family: garamond;
        color: black;
        font-size: 20px;
    }

    .subtitulo {
        font-size: 36px;
    }

    .libro {
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 140px;
        height: 150px;
        margin-top: 1px;
        margin-bottom: 20px;
        display: inline;
        line-height: 40px;
    }

    .musica {
        margin-left: 15px;
        margin-top: 10px;
        border-radius: 12px;
        width: 340px;
    }

    .formularioDudas {
        background-color: lightgray;
        border: solid black 1px;
        width: 300px;
        height: 400px;
        position: relative;
        top: -445px;
        left: 380px;

    }

    .espacioFormulario {
        width: 260px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .espacioFormulario1 {
        width: 260px;
        height: 100px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .boton {
        position: relative;
        left: 125px;
    }

    .subtituloFormulario1 {
        font-size: 18px;
    }

    .lineaDivisoraFinal {
        position: relative;
        top: 10px;
    }

    .footer {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        top: 10px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        top: 15px;
    }
}

/* Celulares pequeños*/
@media (min-width:360px)and (max-width:780px) and (orientation:landscape) {
    .minicon {
        width: 8em;
    }

    .icono {
        width: 5em;
        display: inline;
    }

    .text-icono {
        text-align: center;
        display: inline;
        font-family: garamond;
        color: black;
        font-size: 20px;
    }

    .subtitulo {
        font-size: 30px;
    }

    .libro {
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 110px;
        height: 120px;
        margin-top: 1px;
        margin-bottom: 20px;
        display: inline;
        line-height: 40px;
    }

    .musica {
        margin-left: 70px;
        margin-top: 10px;
        border-radius: 12px;
        width: 340px;
    }

    .formularioDudas {
        background-color: lightgray;
        border: solid black 1px;
        width: 340px;
        height: 400px;
        position: static;
        margin-left: 80px;

    }

    .espacioFormulario {
        width: 300px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .espacioFormulario1 {
        width: 300px;
        height: 100px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .boton {
        position: relative;
        left: 130px;
    }

    .subtituloFormulario1 {
        font-size: 18px;
    }

    .lineaDivisoraFinal {
        position: relative;
        top: 360px
    }

    .footer {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        top: 360px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        top: 362px;
    }
}

/*Tamaño tabletas*/
@media (min-width: 916px) and (max-width: 1280px) and (orientation: landscape) {
    .principal {
        font-size: 2.3em;
    }

    .secundario {
        display: block;
        font-size: 1.7em;
        margin-top: 0.62em;
    }

    .carousel-computadora {
        display: block;
    }

    .carousel-movil {
        display: none;
    }

    .minicon {
        width: 15em;
    }

    .icono {
        width: 7em;
        display: inline;
    }

    .text-icono {
        text-align: center;
        display: inline;
        font-family: garamond;
        color: black;
        font-size: 28px;
    }

    .subtitulo {
        font-size: 40px;
    }

    .libro {
        border-top-left-radius: 100%;
        border-top-right-radius: 100%;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        width: 190px;
        height: 200px;
        margin-top: 1px;
        margin-bottom: 20px;
        display: inline;
        line-height: 40px;
    }

    .musica {
        margin-left: 70px;
        margin-top: 10px;
        border-radius: 12px;
        width: 340px;
    }

    .formularioDudas {
        background-color: lightgray;
        border: solid black 1px;
        width: 340px;
        height: 400px;
        position: absolute;
        top: 1340px;
        left: 500px;
        margin-left: 80px;

    }

    .espacioFormulario {
        width: 300px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .espacioFormulario1 {
        width: 300px;
        height: 100px;
        border: black 1px solid;
        margin-left: 20px;
    }

    .boton {
        position: relative;
        left: 130px;
    }

    .subtituloFormulario1 {
        font-size: 18px;
    }

    .lineaDivisoraFinal {
        position: relative;
        top: 360px
    }

    .footer {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        top: 360px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        top: 362px;
    }
}



/************************************AUDIOLIBROS**************************/

.font {
    background-color: #2C1F36;
    height: 170px;
    width: 1349px;

}

.img {
    height: 170px;
    position: relative;
    left: 600px;
}

.titulo-imagen {
    font-family: garamond;
    font-size: 50px;
    margin-left: 50px;
    position: relative;
    bottom: 120px;
    right: 0px;
}
.principal-audiolibros {
    font-size: 1.4em;
    margin-bottom: 0.37em;
    font-family: garamond;
    margin-top: -50px;
}

.secundario-audiolibros {
    font-size: 1.06em;
    margin-bottom: 0.93em;
    margin-top: -20px;
}

.subtitulo-audiolibros {
    font-family: garamond;
    font-size: 18px;
    margin-top: 15px;
}

.apartado {
    margin: 5px;
    font-size: 13px;
    color: #347D56;
}

.imagenaudiolibro {
    width: 160px;
    margin-left: 30px;
}

.mejores-ab {
    font-family: garamond;
    font-size: 27px;
}

.abpeque {
    margin-left: 10%;
    margin-top: 40px;
}

.container-audie {
    width: 440px;
    margin-top: 50px;
    margin-left: 30px;
}

.imagenaudie {
    width: 160px;
    margin-left: 500px;
    margin-top: -120px;
}

.imagenaudie1 {
    width: 160px;
    margin-left: 100px;
    margin-top: -120px;

}

.container-infogral {
    width: 1030px;
    margin-left: 240px;

}

.podcast {
    width: 300px;
    height: 300px;
    margin-left: 20px;
}

.podcast1 {
    width: 160px;
    margin-left: 50px;
    margin-top: 20px;
}

.imagenpodcast {
    width: 160px;
    margin-left: 100px;
    margin-top: 20px;
}

.linkstemas {
    background-color: white;
    width: 200px;
    height: 710px;
    position: absolute;
    top: 500px;

}
.footer-audiolibros {
    text-align: center;
    font-family: Garamond;
    font-size: small;
    margin-bottom: 0.03em;
    position: relative;
    top: 10px;
}

.footer-date {
    text-align: center;
    font-family: Garamond;
    font-size: small;
    position: relative;
    top: 15px;}



/*Tamaño computadora*/
@media (min-width: 1025px) {}





/************************VERTICAL******************************/
/* Tamaño celulares ANDROID y apple grandes*/
@media (max-width: 896px) {
    .font {
        height: 170px;
        width: 410px;
    }
    .img {
        display: none;
    }
    .principal-audiolibros {
        font-size: 1.4em;
        margin-bottom: 0.37em;
        font-family: garamond;
        margin-top: -50px;
    }
    
    .secundario-audiolibros {
        font-size: 1.1em;
        margin-bottom: 0.93em;
        margin-top: 10px;
    }
    

    .container-infogral {
        width: 480px;
        margin-left: -80px;
        
    }

    .titulo-audies {
        margin-left: 70px;
    }

    .imagenaudiolibro {
        width: 150px;
        margin-left: 35px;
    }

    .mejores-ab {
        font-family: garamond;
        font-size: 27px;
        margin-left: 50px;

    }

    .container-audie {
        width: 362px;
        margin-top: 10px;
        margin-left: 60px;
    }

    .imagenaudie {
        width: 160px;
        margin-left: 70px;
        margin-top: 20px;
    }

    .imagenaudie1 {
        width: 159px;
        margin-left: 240px;
        margin-top: -200px;
    }
    .podcast1 {
        width: 140px;
        margin-left: 90px;
        margin-top: 20px;
    }
    .imagenpodcast {
        width: 140px;
        margin-left: 30px;
        margin-top: 20px;
    }

    .linkstemas {
        display: none;
    }
    
    .footer-audiolibros {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        bottom: -10px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        bottom: -15px;
    }
}


/*Tamaño celulares APPLE pequeños*/
@media (max-width: 330px) {
    .font {
        height: 170px;
        width: 319px;
    }
    .img {
        display: none;
    }
    .principal-audiolibros {
        font-size: 1.4em;
        margin-bottom: 0.37em;
        font-family: garamond;
        margin-top: -50px;
    }
    
    .secundario-audiolibros {
      display: none;
    }
    .container-infogral {
        width: 395px;
        margin-left: -80px;
    }

    .titulo-audies {
        margin-left: 80px;
    }

    .imagenaudiolibro {
        width: 122px;
        margin-left: 40px;
    }

    .mejores-ab {
        font-family: garamond;
        font-size: 27px;
        margin-left: 80px;
    }

    .container-audie {
        width: 325px;
        margin-top: 10px;
        margin-left: 60px;
    }

    .imagenaudie {
        width: 130px;
        margin-left: 70px;
        margin-top: 20px;
    }

    .imagenaudie1 {
        width: 130px;
        margin-left: 230px;
        margin-top: -170px;
    }
    .podcast1 {
        width: 130px;
        margin-left: 80px;
        margin-top: 20px;
    }
    .imagenpodcast {
        width: 130px;
        margin-left: 20px;
        margin-top: 20px;
    }

    .linkstemas {
        display: none;
    }
    
    .footer-audiolibros {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        bottom: -10px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        bottom: -15px;
    }

}

/* Tamaño tabletas */
@media (min-width: 768px) and (max-width: 1024px) {
    .font {
        height: 170px;
        width: 769px;
    }
    .img {
        display: flex;
        left: 1px;
        width: 768px;
     }
    .titulo-imagen{
        display: none;
    }
    .principal-audiolibros {
        font-size: 1.9em;
        margin-bottom: 0.37em;
        font-family: garamond;
        margin-top: 10px;
    }
    
    .secundario-audiolibros {
      display: none;
    }
    .container-infogral {
        width: 700px;
        margin-left: 40px;
    }
    .titulo-audies {
        margin-left: 80px;
    }

    .imagenaudiolibro {
        width: 200px;
        margin-left: 50px;
    }

    .mejores-ab {
        font-family: garamond;
        font-size: 35px;
        margin-left: 80px;
    }

    .container-audie {
        width: 600px;
        margin-top: 10px;
        margin-left: 50px;
    }
    .frase-audie{
        font-size: 20px;
    }

    .imagenaudie {
        width: 200px;
        margin-left: 70px;
        margin-top: 20px;
    }

    .imagenaudie1 {
        width: 200px;
        margin-left: 360px;
        margin-top: -240px;
    }
    
    .podcast1 {
        width: 200px;
        margin-left: 80px;
        margin-top: 20px;
    }
    .imagenpodcast {
        width: 200px;
        margin-left: 90px;
        margin-top: 20px;
    }

    .linkstemas {
        display: none;  }
    
    .footer-audiolibros {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        bottom: -10px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        bottom: -15px;
    }

}




/********************HORIZONTAL*******************************/
/*Tamaño celulares*/
@media (min-width:414px)and (max-width: 915px) and (orientation:landscape) {
}

/* Celulares pequeños*/
@media (min-width:360px)and (max-width:780px) and (orientation:landscape) {
    .font {
        height: 170px;
        width: 569px;
    }
    .img {
        display: flex;
        left: 1px;
        width: 568px;     }
    .titulo-imagen{
        display: none;
    }
    .principal-audiolibros {
        font-size: 1.6em;
        margin-bottom: 0.37em;
        font-family: garamond;
        margin-top: 10px;
    }
        .secundario-audiolibros {
      display: none;
    }
    .container-infogral {
        width: 647px;
    }
    .titulo-audies {
        margin-left: 80px;
    }

    .imagenaudiolibro {
        width: 200px;
        margin-left: 50px;
    }

    .mejores-ab {
        font-family: garamond;
        font-size: 35px;
        margin-left: 80px;
    }

    .container-audie {
        width: 600px;
        margin-top: 10px;
        margin-left: 50px;
    }
    .frase-audie{
        font-size: 20px;
    }

    .imagenaudie {
        width: 200px;
        margin-left: 70px;
        margin-top: 20px;
    }

    .imagenaudie1 {
        width: 200px;
        margin-left: 360px;
        margin-top: -240px;
    }
    
    .podcast1 {
        width: 200px;
        margin-left: 80px;
        margin-top: 20px;
    }
    .imagenpodcast {
        width: 200px;
        margin-left: 90px;
        margin-top: 20px;
    }

    .linkstemas {
        display: none;  }
    
    .footer-audiolibros {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        bottom: -10px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        bottom: -15px;
    }

}

/*Tamaño tabletas*/
@media (min-width: 916px) and (max-width: 1280px) and (orientation: landscape) {
    .font {
        height: 170px;
        width: 1025px;
    }
    .img {
        display: flex;
        left: 120px;
        width: 800px;     }
    .titulo-imagen{
        display: none;
    }
    .principal-audiolibros {
        font-size: 2.2em;
        margin-bottom: 0.37em;
        font-family: garamond;
        margin-top: 10px;
    }
    .secundario-audiolibros {
      display: none;
    }
    .container-infogral {
        width: 980px;
    }
    .titulo-audies {
        margin-left: 80px;
    }

    .imagenaudiolibro {
        width: 280px;
        margin-left: 50px;
    }

    .mejores-ab {
        font-family: garamond;
        font-size: 35px;
        margin-left: 80px;
    }

    .container-audie {
        width: 900px;
        margin-top: 10px;
        margin-left: 50px;
    }
    .frase-audie{
        font-size: 26px;
    }

    .imagenaudie {
        width: 280px;
        margin-left: 140px;
        margin-top: 20px;
    }

    .imagenaudie1 {
        width: 280px;
        margin-left: 480px;
        margin-top: -320px;
    }
    
    .podcast1 {
        width: 280px;
        margin-left: 150px;
        margin-top: 20px;
    }
    .imagenpodcast {
        width: 280px;
        margin-left: 80px;
        margin-top: 20px;
    }

    .linkstemas {
        display: none;  }
    
    .footer-audiolibros {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        margin-bottom: 0.03em;
        position: relative;
        bottom: -10px;
    }

    .footer-date {
        text-align: center;
        font-family: Garamond;
        font-size: small;
        position: relative;
        bottom: -15px;
    }
}

/*AUTORES*/
.primerLink {
    background-color: lightgray;
    border: solid black 1px;
    width: 100px;
    height: 20px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}
.segundoLink {
    background-color: lightgray;
    border: solid black 1px;
    width: 100px;
    height: 20px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}
.videos {
    display: inline;
}
.bestBooks {
    margin-left: 70px;
    border-top-left-radius: 20%;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
    width: 170px;
    height: 250px;
    display: inline;
}
.iconSN {
    width: 30px;
    height: 30px;
    margin-left: 50px;
    margin-top: 15px;
    display: inline;
}