/******************************GENERAL************************/
* {
    margin: 0;
}

.barraNavegadora {
    background-color: white;

}

.logo {
    width: 380px;
    height: 100px;
}

.nav-link {
    margin-left: 40px;
}

.media-quote {
    font-family: garamond;
}

.principal {
    font-size: 20px;
    margin-bottom: 6px;
    }

.secundario {
    font-size: 15px;
    margin-bottom: 15Spx;
}

.lineaDivisora {
    border-top: 1px solid black;
    margin-top: 1px
}

.footer {
    text-align: center;
}

/*****************************COMPUTADORA***************************/
/*Tamaño computadora*/
@media (min-width: 768px) {
    .carousel-computadora {
        display: block;
    }

    .carousel-movil {
        display: none;
    }
}
/****************************VERTICAL******************************/
/* Tamaño celulares */
@media (max-width: 600px) {
    .principal {
        font-size: 1.3em;
    }

    .secundario {
        display: none;
    }

    .carousel-computadora {
        display: none;
    }

    .carousel-movil {
        display: block;
    }
}
/* Tamaño tabletas */
@media (min-width: 601px) and (max-width: 1024px) {
    .principal {
        font-size: 2em;
    }

    .secundario {
        display: none;
    }

    .carousel-computadora {
        display: none;
    }

    .carousel-movil {
        display: block;
    }
}
/**************************HORIZONTAL*******************************/
/*Tamaño celulares*/
@media (max-width: 926px) and (orientation: landscape) {
    .principal {
        font-size: 1.7em;
    }

    .secundario {
        display: block;
        font-size: 1.4em;
    }
    .carousel-computadora {
        display: block;
    }

    .carousel-movil {
        display: none;
    }
}
/*Tamaño tabletas*/
@media (min-width: 927px) and (max-width: 1300px) and (orientation: landscape){
    .principal {
        font-size: 2.3em;
    }
    .secundario {
        display: block;
        font-size: 1.7em;
        margin-top: 10px;
    }
    
    .carousel-computadora {
        display: block;
    }

    .carousel-movil {
        display: none;
    }
}