
/****************************AUTORES*****************/
.contprinc-autores{
    background-color: $mainColor;
}
.tituloAutores{
    font-family: garamond; 
    font-size: $textoXxlarge;
    margin-left: 20px
}
.lista-horizontal {
    list-style: none;
    padding: 0;
    display: flex;
}
.lista-horizontal li {
    margin-right: 15px;
}
.lista-horizontal li a {
    text-decoration:underline;
    color: $colorWhite; 
    font-size: $textoSecundario;
    margin-left: 25px;
}
.subautor{
    font-size: $textoMedium;
    margin-bottom: -20px;
    font-family: $textoGeneral
}
.lineasobrautor{
    margin-left: 550px;
    margin-right: 550px;
}
.imgautor{
    height: 16.8em; 
    width: $mSmall;
    margin-left: 60px;
    margin-top: 10px;
    border-radius: 50%;
}
.nombre-autor{
    font-size: $textoMedium;
    font-family: $textoGeneral;
   
}
.infoAutor{
   text-align: justify; 
}
.container-autor{
    width: 50em;
    position: absolute;
    top: 340px;
    left: 400px;
}
.subtitulo-autor{
    font-family: $textoGeneral;
    font-size: $textoMedium;
    margin-left: 30px;
}
.portada-libroautores{
    height: 260px; 
    border-radius: 10%;
    position: absolute;
    left: 1000px;
    top: 600px;
}
.container-libroautor{
    width: 50em;
    margin-left: 100px;
    margin-top: 20px;
}
.info-libro{
    text-align: justify;
}

.primerLink {
    background-color: $baseColor;
    border: solid $keyColor 1px;
    width: $formSmall;
    height: 1.25em;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
}
.segundoLink {
    background-color: $baseColor;
    border: solid $keyColor 1px;
    width: $formSmall;
    height: 1.25em;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    text-align: center;
    
}
.group-portadas{
    margin-top: -20px;
}
.portada-libro{
    border-top-left-radius: 10%; border-top-right-radius: 10%;border-bottom-left-radius: 10%;border-bottom-right-radius: 10%; 
    width: $imgLarge;
    height: $imgMedium;
    margin-top: 50px;
}
.videos-autor{
    margin-left: 30px;
}
.videos{
    margin-left: 50px;
    border-top-left-radius: 5%; border-top-right-radius: 5%;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%; 
    display: inline;

}

.iconSN {
    width: $imgXxsmall;
    height: $imgXxsmall;
    margin-left: 50px;
    margin-top: 15px;
}
.footer {
    text-align: center;
    font-family: $textoGeneral;
    font-size: $textoXxs;
    margin-bottom: 0.03em;
}

.footer-date {
    text-align: center;
    font-family: $textoGeneral;
    font-size: $textoXxs;         
}


/****************************VERTICAL******************************/
/* Tamaño celulares ANDROID y apple grandes*/
@media (max-width: 896px) {
    .contprinc-autores{
        background-color: $mainColor;
    }
    .tituloAutores{
        font-family: $textoGeneral; 
        font-size: $textoLarge;
        margin-left: 1px
    }
    .lista-horizontal {
        list-style: none;
        padding: 0;
        display: flex;
    }
    .lista-horizontal li {
        margin-right: 1px;
        margin-left: -13px;
    }
    .lista-horizontal li a {
        text-decoration:underline;
        color: $colorWhite; 
        font-size: $textoXs;
        margin-left: 16px;
    }
    .subautor{
        font-size: $textoMedium;
        margin-bottom: -20px;
        font-family: $textoGeneral
    }
    .imgautor{
        height: 16.8em; 
        width: $mSmall;
        margin-left: 60px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .nombre-autor{
        font-size: $textoMedium;
        font-family: $textoGeneral;
       
    }
    .infoAutor{
       text-align: justify; 
    }
    .container-autor{
        width: 22.4em;
        position:relative;
        top: 5px;
        left: 2px;
    }
    .subtitulo-autor{
        font-family: $textoGeneral;
        font-size: $textoMedium;
        margin-left: 20px;
    }
    .portada-libroautores{
        height: 260px; 
        border-radius: 10%;
        position: relative;
        left: 100px;
        top: 10px;
    }
    .container-libroautor{
        width: 22.4em;
        margin-left: 8px;
        margin-top: 20px;
    }
    .info-libro{
        text-align: justify;
    }
    
    .primerLink {
        background-color: $baseColor;
        border: solid $keyColor 1px;
        width: $formSmall;
        height: 1.25em;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }
    .segundoLink {
        background-color: $baseColor;
        border: solid $keyColor 1px;
        width: $formSmall;
        height: 1.25em;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        
    }
  
    .portada-libro{
        border-top-left-radius: 10%; border-top-right-radius: 10%;border-bottom-left-radius: 10%;border-bottom-right-radius: 10%; 
        width: $imgSmall;
        height: $imgSmall;
        margin-top: 50px;
    }
    
    .minicon{
        margin-left: 2px;
    }
   
    .videos-autor{
        margin-left: -40px;
        
    }
    .videos{
        margin-left: 50px;
        border-top-left-radius: 5%; border-top-right-radius: 5%;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%; 
        display: inline;
        width: 340px;
    
    }
    
    .iconSN {
        width: $imgXxsmall;
        height: $imgXxsmall;
        margin-left: 50px;
        margin-top: 15px;
    }
    .footer {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
        margin-bottom: 0.03em;
      
    }
    .footer-date {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
    
    }
}


/*Tamaño celulares APPLE pequeños*/
@media (max-width: 330px) {
    .contprinc-autores{
        background-color: $mainColor;
    }
    .tituloAutores{
        font-family: $textoGeneral; 
        font-size: $textoLarge;
        margin-left: 1px
    }
    .lista-horizontal {
        list-style: none;
        padding: 0;
        display: flex;
    }
    .lista-horizontal li {
        margin-right: 1px;
        margin-left: -13px;
    }
    .lista-horizontal li a {
        text-decoration:underline;
        color: $colorWhite; 
        font-size: $textoXs;
        margin-left: 14.9px;
    }
    .subautor{
        font-size: $textoMedium;
        margin-bottom: -20px;
        font-family: $textoGeneral
    }
    .imgautor{
        height: 16.8em; 
        width: $mSmall;
        margin-left: 25px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .nombre-autor{
        font-size: $textoMedium;
        font-family: $textoGeneral;
       
    }
    .infoAutor{
       text-align: justify; 
    }
    .container-autor{
        width: 20em;
        position:relative;
        top: 5px;
        left: 2px;
    }
    .subtitulo-autor{
        font-family: $textoGeneral;
        font-size: $textoMedium;
        margin-left: 20px;
    }
    .portada-libroautores{
        height: 260px; 
        border-radius: 10%;
        position: relative;
        left: 100px;
        top: 10px;
    }
    .container-libroautor{
        width: 20em;
        margin-left: 5px;
        margin-top: 20px;
    }
    .info-libro{
        text-align: justify;
    }
    
    .primerLink {
        background-color: $baseColor;
        border: solid $keyColor 1px;
        width: $formSmall;
        height: 1.25em;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
    }
    .segundoLink {
        background-color: $baseColor;
        border: solid $keyColor 1px;
        width: $formSmall;
        height: 1.25em;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        
    }
  
    .portada-libro{
        border-top-left-radius: 10%; border-top-right-radius: 10%;border-bottom-left-radius: 10%;border-bottom-right-radius: 10%; 
        width: $imgXxm;
        height: $imgXxm;
        margin-top: 50px;
    }
    
    .minicon{
        margin-left: 17px;
        margin-right: 27px;
    }
   
    .videos-autor{
        margin-left: -40px;
        
    }
    .videos{
        margin-left: 50px;
        border-top-left-radius: 5%; border-top-right-radius: 5%;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%; 
        display: inline;
        width: 300px;
    
    }
    
    .iconSN {
        width: $imgXxsmall;
        height: $imgXxsmall;
        margin-left: 50px;
        margin-top: 15px;
    }
    .footer {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
        margin-bottom: 0.03em;
      
    }
    .footer-date {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
    
    }

}

/* Tamaño tabletas */
@media (min-width: 768px) and (max-width: 1280px) {
    .contprinc-autores{
        background-color: $mainColor;
    }
    .tituloAutores{
        font-family: $textoGeneral; 
        font-size: $textoXlarge;
        margin-left: 1px
    }
    .lista-horizontal {
        list-style: none;
        padding: 0;
        display: flex;
    }
    .lista-horizontal li {
        margin-right: 1px;
        margin-left: 2px;
    }
    .lista-horizontal li a {
        text-decoration:underline;
        color: $colorWhite; 
        font-size: 1.2em;
        margin-left: 13px;
    }
    .subautor{
        font-size: $textoXlarge;
        margin-bottom: -20px;
        font-family: $textoGeneral
    }
    .imgautor{
        height: $mMedium; 
        width: $mMedium;
        margin-left: 190px;
        margin-top: 10px;
        border-radius: 50%;
    }
    .nombre-autor{
        font-size: $textoXlarge;
        font-family: $textoGeneral;
       
    }
    .infoAutor{
       text-align: justify; 
       font-size: $textoMedium;
    }
    .container-autor{
        width: 46em;
        position:relative;
        top: 5px;
        left: 2px;
    }
    .subtitulo-autor{
        font-family: $textoGeneral;
        font-size: $textoXlarge;
        margin-left: 20px;
    }
    .portada-libroautores{
        height: 400px; 
        border-radius: 10%;
        position: relative;
        left: 250px;
        top: 10px;
    }
    .container-libroautor{
        width: 46em;
        margin-left: 8px;
        margin-top: 20px;
    }
    .info-libro{
        text-align: justify;
        font-size: $textoMedium;
    }
    
    .primerLink {
        background-color: $baseColor;
        border: solid $keyColor 1px;
        width: $formSmall;
        height: 1.25em;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
    }
    .segundoLink {
        background-color: $baseColor;
        border: solid $keyColor 1px;
        width: $formSmall;
        height: 1.25em;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;
        text-align: center;
        font-size: 30px;
        
    }
  
    .portada-libro{
        border-top-left-radius: 10%; border-top-right-radius: 10%;border-bottom-left-radius: 10%;border-bottom-right-radius: 10%; 
        width: $imgLarge;
        height: $imgLarge;
        margin-top: 50px;
    }
    
    .minicon{
        margin-right: 30px;
        margin-left: 50px;
    }
   
    .videos-autor{
        margin-left: -30px;
        
    }
    .videos{
        margin-left: 50px;
        border-top-left-radius: 5%; border-top-right-radius: 5%;border-bottom-left-radius: 5%;border-bottom-right-radius: 5%; 
        display: inline;
        width: 210px;
    
    }
    
    .iconSN {
        width: $imgXxsmall;
        height: $imgXxsmall;
        margin-left: 50px;
        margin-top: 15px;
    }
    .footer {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXs;
      
    }
    .footer-date {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXs;
    
    }
}


/**************************HORIZONTAL*******************************/
/*Tamaño celulares*/
@media (min-width:414px)and (max-width: 915px) and (orientation:landscape) {
    .footer {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
        margin-bottom: 0.03em;
    }

    .footer-date {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
    }
}

/* Celulares pequeños*/
@media (min-width:360px)and (max-width:780px) and (orientation:landscape) {
    .footer {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
        margin-bottom: 0.03em;
    }

    .footer-date {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs; 
    }
}

/*Tamaño tabletas*/
@media (min-width: 916px) and (max-width: 1279px) and (orientation: landscape) {
        .footer {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;
        margin-bottom: 0.03em;
    }

    .footer-date {
        text-align: center;
        font-family: $textoGeneral;
        font-size: $textoXxs;         
    }
}


