
/*PODCAST*/
.container-podcast{
    background-color: $colorblue;
    margin-bottom: 10px;
}
.titulo-podcast{
    font-family: $textoGeneral; 
    font-size: $textoXxlarge;
    margin-left: 20px;
}
.subtitulo-podcast{
    font-family: $textoGeneral;
    font-size: $textoMedium;
    margin-left: 30px;
}

