//Variables

//Esquema de color
$mainColor: rgb(34,65, 42);
$secondaryColor: rgb(44,31,54);
$keyColor: rgb(11,11,11);
$white: rgb(238,233,233);

//Tipografías
$mainFont: Garamond;


//Tamaños textos
//$textSM: